matplotlib==3.7.0
matplotlib-inline==0.1.6
numpy==1.24.2
scipy==1.10.1
pandas==1.5.3
fastgb @ git+https://gitlab.in2p3.fr/LISA/fastgb.git@8b243fa56cc91b8911f58c0883db40dff4788db2
lisaconstants==1.3.4
lisaorbits==2.3
plotly==5.18.0
pillow==10.2.0
appFOM @ git+https://github.com/Salander619/appFOM.git
jupyterlab==4.1.3
gunicorn==21.2.0
dash==2.15.0
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.0
dash-table==5.0.0
dash-tools==1.12.0
